<!DOCTYPE html>
<html lang="en" data-use-rem="750">
<head>
    <meta charset="UTF-8">
    <title>Jm</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script src="../lib/rem/rem.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <!-- 去掉winphone系统a、input标签被点击时产生的半透明灰色背景 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--ios微信浏览器中禁止自动识数字别为电话链接-->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../lib/mint-ui/style.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/swiper/swiper.css"/>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<div id="ydb" v-cloak class="indexWrap">
        <h5>123</h5>
</div>
<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/vue/vue.js"></script>
<script src="../lib/vue/vue-resource.js"></script>
<script src="../lib/fastclick/fastclick.js"></script>
<script src="../lib/store/web-storage-cache.min.js"></script>
<script src="../lib/js-cookie/js.cookie.js"></script>
<script src="../lib/swiper/swiper.jquery.min.js"></script>
<script src="../lib/lodash/lodash.min.js"></script>
<script id="injected-js"></script>
<script src="../lib/mint-ui/index.js"></script>
<script src="../js/views/base.js"></script>
<script src="../js/views/index.js"></script>

</body>
</html>
