@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hevozv");
  src: url("../fonts/icomoon.eot?hevozv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hevozv") format("truetype"), url("../fonts/icomoon.woff?hevozv") format("woff"), url("../fonts/icomoon.svg?hevozv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-file-text2:before {
  content: "\e925"; }

.icon-imgLoading .path1:before {
  content: "\e927";
  color: #f2f2f2; }

.icon-imgLoading .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: white; }

.icon-imgLoading .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: white; }

.icon-imgLoading .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: #f2f2f2; }

.icon-imgLoading .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: #f2f2f2; }

.icon-android:before {
  content: "\e913"; }

.icon-Android:before {
  content: "\e923"; }

.icon-iOS:before {
  content: "\e914"; }

.icon-noData .path1:before {
  content: "\e915";
  color: #eeeded; }

.icon-noData .path2:before {
  content: "\e916";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path3:before {
  content: "\e917";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path4:before {
  content: "\e918";
  margin-left: -0.70703125em;
  color: #fcfbe1; }

.icon-noData .path5:before {
  content: "\e919";
  margin-left: -0.70703125em;
  color: #2c3046; }

.icon-noData .path6:before {
  content: "\e91a";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path7:before {
  content: "\e91b";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path8:before {
  content: "\e91c";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path9:before {
  content: "\e91d";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path10:before {
  content: "\e91e";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path11:before {
  content: "\e91f";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path12:before {
  content: "\e920";
  margin-left: -0.70703125em;
  color: #f8d98b; }

.icon-noData .path13:before {
  content: "\e921";
  margin-left: -0.70703125em;
  color: #2c3046; }

.icon-dash:before {
  content: "\e900"; }

.icon-plus-small:before {
  content: "\e901"; }

.icon-plus2:before {
  content: "\e902"; }

.icon-triangle-down:before {
  content: "\e910"; }

.icon-triangle-up:before {
  content: "\e911"; }

.icon-x:before {
  content: "\e912"; }

.icon-arrow-down:before {
  content: "\e903"; }

.icon-arrow-right:before {
  content: "\e904"; }

.icon-checkmark-circle:before {
  content: "\e905"; }

.icon-chevron-down:before {
  content: "\e906"; }

.icon-chevron-left-circle:before {
  content: "\e907"; }

.icon-chevron-left:before {
  content: "\e908"; }

.icon-chevron-right:before {
  content: "\e909"; }

.icon-chevron-up:before {
  content: "\e90a"; }

.icon-cross-circle:before {
  content: "\e922"; }

.icon-magnifier:before {
  content: "\e90b"; }

.icon-menu:before {
  content: "\e90c"; }

.icon-plus-circle:before {
  content: "\e924"; }

.icon-redo:before {
  content: "\e90d"; }

.icon-trash:before {
  content: "\e90e"; }

.icon-volume-high:before {
  content: "\e90f"; }

.icon-qrcode:before {
  content: "\e938"; }

.icon-compass2:before {
  content: "\e94a"; }

.icon-cancel-circle:before {
  content: "\ea0d"; }

/***************reset****************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
img,
h1,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

fieldset,
img,
html,
body,
iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  list-style: none; }

em,
i,
small,
caption,
th {
  font-weight: normal;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: normal; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none;
  color: #333; }

a:active {
  text-decoration: none;
  color: #333; }

a:focus {
  text-decoration: none;
  color: #333; }

html {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  -webkit-user-select: none;
  -Webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-overflow-scrolling: touch; }

img {
  -webkit-touch-callout: none; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

button, a {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

img, div {
  display: block;
  margin: 0;
  padding: 0; }

input, select {
  outline: medium none; }

/***************公用****************/
body {
  background-color: #f4f4f4; }

.text-center {
  text-align: center; }

[v-cloak] {
  display: none; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s; }

.fade-enter, .fade-leave-active {
  opacity: 0; }

img.lazy {
  background: url("../imgs/imgLoading.svg") center center no-repeat; }

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    transform: scaleY(0.7); }

  .border-right-1px::before {
    transform: scaleX(0.7); } }
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    transform: scaleY(0.5); }

  .border-right-1px::before {
    transform: scaleX(0.7); } }
.bgLoading {
  background: url("../imgs/loading.svg");
  width: 0.56rem;
  height: 0.56rem;
  background-size: 100%;
  margin: 0 auto; }

/*饿了吗*/
.mint-toast {
  position: fixed;
  max-width: 80%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
  -webkit-transition: opacity .3s linear;
  transition: opacity 0.3s linear; }

.mint-toast.is-placebottom {
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.mint-toast.is-placemiddle {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.mint-toast.is-placetop {
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.mint-toast-icon {
  display: block;
  text-align: center;
  font-size: 56px; }

.mint-toast-text {
  font-size: 14px;
  display: block;
  text-align: center; }

.mint-toast-pop-enter, .mint-toast-pop-leave-active {
  opacity: 0; }

.mint-indicator {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.mint-indicator-wrapper {
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  box-sizing: border-box;
  text-align: center;
  z-index: 10000;
  line-height: 1; }

.mint-indicator-text {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 16px; }

.mint-indicator-spin {
  display: inline-block;
  text-align: center; }

.mint-indicator-mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent; }

.mint-indicator-enter, .mint-indicator-leave-active {
  opacity: 0; }

.mint-spinner-snake {
  -webkit-animation: mint-spinner-rotate 0.8s infinite linear;
  animation: mint-spinner-rotate 0.8s infinite linear;
  border: 4px solid transparent;
  border-radius: 50%; }

@-webkit-keyframes mint-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes mint-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=base.css.map */
