@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hevozv');
  src:  url('../fonts/icomoon.eot?hevozv#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?hevozv') format('truetype'),
  url('../fonts/icomoon.woff?hevozv') format('woff'),
  url('../fonts/icomoon.svg?hevozv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
  content: "\e925";
}
.icon-imgLoading .path1:before {
  content: "\e927";
  color: rgb(242, 242, 242);
}
.icon-imgLoading .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-imgLoading .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-imgLoading .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-imgLoading .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-android:before {
  content: "\e913";
}
.icon-Android:before {
  content: "\e923";
}
.icon-iOS:before {
  content: "\e914";
}
.icon-noData .path1:before {
  content: "\e915";
  color: rgb(238, 237, 237);
}
.icon-noData .path2:before {
  content: "\e916";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path3:before {
  content: "\e917";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path4:before {
  content: "\e918";
  margin-left: -0.70703125em;
  color: rgb(252, 251, 225);
}
.icon-noData .path5:before {
  content: "\e919";
  margin-left: -0.70703125em;
  color: rgb(44, 48, 70);
}
.icon-noData .path6:before {
  content: "\e91a";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path7:before {
  content: "\e91b";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path8:before {
  content: "\e91c";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path9:before {
  content: "\e91d";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path10:before {
  content: "\e91e";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path11:before {
  content: "\e91f";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path12:before {
  content: "\e920";
  margin-left: -0.70703125em;
  color: rgb(248, 217, 139);
}
.icon-noData .path13:before {
  content: "\e921";
  margin-left: -0.70703125em;
  color: rgb(44, 48, 70);
}
.icon-dash:before {
  content: "\e900";
}
.icon-plus-small:before {
  content: "\e901";
}
.icon-plus2:before {
  content: "\e902";
}
.icon-triangle-down:before {
  content: "\e910";
}
.icon-triangle-up:before {
  content: "\e911";
}
.icon-x:before {
  content: "\e912";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-checkmark-circle:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-left-circle:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e908";
}
.icon-chevron-right:before {
  content: "\e909";
}
.icon-chevron-up:before {
  content: "\e90a";
}
.icon-cross-circle:before {
  content: "\e922";
}
.icon-magnifier:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-plus-circle:before {
  content: "\e924";
}
.icon-redo:before {
  content: "\e90d";
}
.icon-trash:before {
  content: "\e90e";
}
.icon-volume-high:before {
  content: "\e90f";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}

